<div class="row justify-content-center">
  <div class="col-md-5">

    <div class="card shadow-lg border-0 rounded-4">
      <div class="card-body p-5">

        <h3 class="text-center mb-4 text-primary fw-bold">
          Create Account 🔐
        </h3>

        <% if (error) { %>
          <div class="alert alert-danger text-center">
            <%= error %>
          </div>
        <% } %>

        <form action="/register" method="POST" autocomplete="on">

          <div class="mb-3 text-start">
            <label class="form-label fw-semibold fs-5">Full Name</label>
            <input
              type="text"
              name="name"
              class="form-control form-control-lg"
              required
            />
          </div>

          <div class="mb-3 text-start">
            <label class="form-label fw-semibold fs-5">Email</label>
            <input
              type="email"
              name="email"
              class="form-control form-control-lg"
              required
            />
          </div>

          <div class="mb-4 text-start">
            <label class="form-label fw-semibold fs-5">Password</label>
            <input
              type="password"
              name="password"
              class="form-control form-control-lg"
              minlength="6"
              required
            />
          </div>

          <button class="btn btn-primary w-100 btn-lg">
            Register
          </button>

        </form>

        <p class="text-center mt-4">
          Already have account?
          <a href="/login">Login here</a>
        </p>

      </div>
    </div>

  </div>
</div>